{% extends "layout.html" %}
{% load crispy_forms_tags %}
{% block content %}


    <div class="content-section">
        <form method="POST">
            {% csrf_token %}
            <fieldset class="form-group">
                <p> Enter the reason for your appointment and desired time/date. The confirmation about the same will be shared soon</p>
                <legend class="border-bottom mb-4">Book an appointment</legend>

                {{ book|crispy }}  
            
            </fieldset>
            <div class="form-group">
                <button class = "btn btn-outline-info" type = "submit">Book</button>
            </div>
        </form>
    
    </div>

{% endblock content %}